<section>
  <footer>
    <div class="footermain">
      <h2>Soumyadip Das</h2>
      <ul>
        <li><a href="#">Code Made By Soumyadip Das</a></li>
        
      </ul>
      <div class="footeraccounts">
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
      </div>
    </div>
    <hr>
    <p class="footercopyright">All Right Reserved &copy; 2022</p>
   </footer>
  </section>  