
<section>
   
    <div class="containerdisplay">
       
        <div class="displaytext">
            <span>Fresh Farmed Picked Products</span><br>
            <h1>Delivered in 20 Minutes. Best Price Assured and 20% Discount On Shopping Upto Rs 500</h1>
            <button>Shop</button>
          
        </div>
        <div class="displayimage">
           <div class="image-display">
            <img src="../../../image-removebg-preview.png">
           </div>
           </div>
    </div>
    <div class="containerflex">
        <ul>
            <li><i class="fa-solid fa-tractor"></i> &nbsp;Organic Products</li>
            <li><i class="fa-solid fa-medal"></i> &nbsp;Best Quality</li>
            <li><i class="fa-solid fa-hand-holding-dollar"></i> &nbsp;Best Price</li>
            <li> <i class="fa-solid fa-truck"></i> &nbsp;free Delivery</li>
        </ul>
    </div>
    <div class="categorytext">
        <h2>Our Fresh</h2>
        <h1>Product Categories</h1>
    </div>
    <div class="categorycontainer">
        <div class="categoryitem" style="background-color: #e9f4e3">
            <div class="category-image">
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/2700/2700487.png"></a>
            </div>
        </div>
        <div class="categoryitem" style="background-color: #faeaea">
            <div class="category-image">
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1046/1046751.png"></a>
            </div>
        </div>
        <div class="categoryitem" style="background-color: #fef4ea">
            <div class="category-image">
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/3082/3082055.png"></a>
            </div>
        </div>
        <div class="categoryitem" style="background-color: #eeeef9">
            <div class="category-image">
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/992/992747.png"></a>
            </div>
        </div>
        <div class="categoryitem" style="background-color: #f7f6d7">
            <div class="category-image">
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/2674/2674505.png"></a>
            </div>
        </div>
        <div class="categoryitem" style="background-color: #efeafe">
            <div class="category-image">
                <a href="#"><img src="https://cdn-icons.flaticon.com/png/512/2153/premium/2153786.png?token=exp=1660309716~hmac=e7a6e8edc05a35a540367f6fc43ec074"></a>
            </div>
        </div>
        
    </div>
    <div class="container">
       
        
        <div class="card">
            <div class="imgBx">
                <img src="image.png" alt="nike-air-shoe">
            </div>

            <div class="contentBx">

                <h2>Nike Shoes</h2>

                <div class="size">
                    <h3>Weight :</h3>
                    <span>7</span>
                </div>

                <div class="color">

                    <h3>Price :</h3>
                    <span>Rs 1200</span>
                </div>
                <a href="#">Cart</a>
                <a href="#">About</a>
            </div>

        </div>
    </div>
    </section> 
    <hr>
    <app-footer>

    </app-footer>